#principal {
    border: solid 1px #cccccc;
    padding: 5px;
    margin: 0 auto;
    width:85%;
    background: #ebfc95;
    
}
fieldset {
    margin-top: 10px;
}
legend {
    border: solid 1px #ebfc95;
    padding: 5px;
    font-weight: bold;
    background: #cccccc;
    border-radius: 15px;
}
#foto {
    border: solid 2px;
    margin: 10px;
}
body {
    background:url(castillo.jpg) ;
}